@import 'vars';

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes slide {
    from { transform: translateY(-40px); }
    to   { transform: translateY(0); }
}
@keyframes wiggle {
    from { transform: translateY(-7px); }
    to   { transform: translateY( 7px); }
}

html {
    overflow-y: scroll;
    scrollbar-color: $primary white;
    scrollbar-width: thin;
}

*{
    margin: 0;
    padding: 0;
    font-family: $textFont;
    -webkit-animation: fade 0.5s ease-in-out
    
}
body, .navbar {
    background: url(../imgs/Endless-Constellation.svg);
    
    /* background by SVGBackgrounds.com */
}

body, .arrow-down, .nav-link {
    color: $textcolor;
}

#wrapper section{
    display: grid;
    grid-template-columns: 1fr calc(0.5rem + 2px) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header vl content";

    header {
        text-align: right;
        padding-right: 2rem;
        padding-top: 2rem;
        text-transform: uppercase;
        
        h1 strong {
            font-family: $titleFont;
            font-weight: 500;
        }
    }

}

#wrapper #intro {
    align-items: center;
    padding-top: 0;
}

.vl {
    border-left: 2px solid black;
    grid-area: vl;
    margin-right: 0.5rem;
}
.content {
    padding: 2rem 5rem 5rem 2rem;
    grid-area: content;
    p {
        font-size: 21px;
        
    }
}

.content-white {
    background-color: rgba(255, 255, 255, 0.7);
}

#intro{
    height: 75vh;
    // p, &:last-child {
    //     display: block;
    // }
}


.pfp-wrapper {
    flex: 0 0 auto;
    width: 50%;
}

#profilepic {
    color: white;
    width: 100%;
    border-radius: 50%;
    border: solid;
}

.arrow-down {
    font-size: 5rem;
    font-weight: 100;
    -webkit-animation: wiggle 1.5s infinite;
    -webkit-animation-direction: alternate;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.7);

    &:hover {
        color: black;
        transition: color .2s ease-in-out;
    }
}

.slide {
    -webkit-animation: slide 1.2s ease;
}

.icon {
    width: 3.5rem;
    height: 3.5rem; 
    font-size: 3rem;

}

#socialmedia a {
    margin-left: 1rem;

    svg{
        width: 3.5rem;
        height: 3.5rem;
        margin-bottom: 2rem;
    }
}

#linkedin {
    color: #0a58ca;
    transition: .3s;
    
    &:hover{
        color: #034095;
        transition: color .2s ease-in-out;
        transform: scale(1.2);
    }
}

#github {
    color: #adb5bd;
    transition: .3s;
    
    &:hover{
        color: black;
        transform: scale(1.2);
        transition: color .2s ease-in-out;
    }
}


#mail {
    color: #adb5bd;
    transition: .3s;

    &:hover{
        color:red;
        transition: color .2s ease-in-out;
        transform: scale(1.2);
    }
}

#facebook{
    transition: .3s;

    &:hover {
        transition: color .2s ease-in-out;
        transform: scale(1.2);
    }
}
.icon-right {
    margin-right: 2rem;
}

.icon-left {
    margin-left: 2rem;
}

.dropdown-item:hover {
    background-color: $primaryHover;
    transition: background-color .2s ease-in-out
}

.dropdown-menu {
    left: revert;
    right: 0px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aaa; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }